.root {
    -fx-faint-focus-color: transparent;
}

.body {
    -fx-faint-focus-color: transparent;
}

.welcomeButton {
    -fx-min-width: 160px;
    -fx-min-height: 160px;
    -fx-pref-width: 160px;
    -fx-pref-height: 160px;
    -fx-max-width: 160px;
    -fx-max-height: 160px;
    -fx-background-color: "#ade1ff";
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}

.welcomeLabel {
    -fx-text-fill: "#555";
}

.welcomeCustom {
    -fx-background-color: "#ddd";
    -fx-text-fill: "#000000";
    -fx-font-weight: "bold";
}

.welcomeCustom:hover {
    -fx-text-fill: "#333333";
}

.content {
    -fx-fit-to-width: true;
}

.sp {
    -fx-padding: 20 0 0 0;
    -fx-fit-to-width: true;
    -fx-background-color : transparent;
}

.grid {
    -fx-background-color : transparent;
}

.gridHeader {

}

.sp > .viewport {
    -fx-background-color: transparent;
}

.output {
    -fx-control-inner-background: #ddd;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-faint-focus-color: transparent;
}

.UI {
    -fx-padding: 20;
    -fx-spacing: 10;
}

.suggestions {
    -fx-fit-to-width: true;
}

.suggestion {
    -fx-pref-width: Infinity;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-background-color: #fff;
    -fx-alignment: CENTER_LEFT;
    -fx-focus-traversable: true;
}

.suggestion:focused {
    -fx-background-color: #f8f8f8;
}

.searchBar {
    -fx-background-color: white;
    -fx-max-width: 400;
    -fx-background-radius: 5;
}

.searchFieldWrapper {
    -fx-padding: 5 10;
}

.searchField {
    -fx-pref-width: 10000;
    -fx-font-size: 10pt;
    -fx-text-fill: #555;
    -fx-border-width: 0;
    -fx-text-box-border: transparent;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-focus-color: transparent;
}

.searchField:focused {
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
}

.directions {
    -fx-max-height: 300px;
    -fx-fit-to-width: true;
}

.directionButtons {
    -fx-background-color: white;
}

.stack, .pinInfoWrapper {
    -fx-alignment: bottom-center;
}

.pinInfoWrapper {
    -fx-padding: 20;
}

.pinInfo, .directionsInfo {
    -fx-background-color: white;
    -fx-max-height: 50px;
    -fx-pref-height: 0px;
    -fx-max-width: 600px;
    -fx-padding: 10 10;
    -fx-background-radius: 5;
    -fx-spacing: 20;
}

.pinInfo {
    -fx-spacing: 10;
}

.pinInfoClose {
    -fx-max-height: 2px;
}

.pointAddress, .pointCoords {
    -fx-display: inline-block;
}

.hBox {
    -fx-spacing: 20px;
}

.carButton, .bikeButton, .walkButton {
    -fx-background-color: #ddd;
    -size: 22;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.walkButton {
    -fx-background-color: #ddd;
    -fx-min-height: 22;
    -fx-min-width: 15;
    -fx-max-height: 22;
    -fx-max-width: 15;
}

.radioButton:hover {
    -fx-background-color: #bbb;
}

.radioButton {
    -fx-text-fill: transparent;
}

.carButton {
    -fx-shape: "M-855,989.9h-3.2l-6.1-23.7c-0.9-2.6-3.2-4.4-6-4.6l-15-1.2c-4.6-0.4-9.3-0.6-13.9-0.6s-9.3,0.2-13.9,0.6l-14.9,1.2    c-2.8,0.2-5.1,2.1-6,4.7l-5.7,23.6h-3.4c-1.9,0-3.5,1.5-3.5,3.5v5.4c0,1.9,1.5,3.5,3.5,3.5h0.8l-2.4,16.1c0,4.5,2.8,8.2,6.8,9.7    v10.4c0,2.1,1.7,3.8,3.8,3.8h5c2.1,0,3.8-1.7,3.8-3.8v-9.7h52.5v9.7c0,2.1,1.7,3.8,3.8,3.8h5c2.1,0,3.8-1.7,3.8-3.8V1028    c3.9-1.4,6.7-5.1,6.8-9.5l-2.1-16.3h0.5c1.9,0,3.5-1.5,3.5-3.5v-5.4C-851.5,991.4-853,989.9-855,989.9z M-923.7,1017.4    c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5C-917.2,1014.5-920.1,1017.4-923.7,1017.4z M-874.3,1017.4    c-3.6,0-6.5-2.9-6.5-6.5c0-3.6,2.9-6.5,6.5-6.5c3.6,0,6.5,2.9,6.5,6.5C-867.9,1014.5-870.8,1017.4-874.3,1017.4z M-931.1,993.2    l5.5-22.7l13.3-1.1c4.4-0.4,8.8-0.5,13.2-0.5c4.4,0,8.8,0.2,13.2,0.5l13.4,1.1l5.9,22.7H-931.1z ";
}

.bikeButton {
    -fx-shape: "M125.3 289.3c17.3 0 33.7 6.8 46.1 19.2 12.4 12.4 19.2 28.8 19.2 46.1s-6.8 33.7-19.2 46.1c-12.4 12.4-28.8 19.2-46.1 19.2s-33.7-6.8-46.1-19.2C66.8 388.4 60 372 60 354.7s6.8-33.7 19.2-46.1c12.4-12.4 28.8-19.3 46.1-19.3m0-28c-51.3 0-93.3 42-93.3 93.3C32 406 74 448 125.3 448s93.3-42 93.3-93.3c.1-51.4-41.9-93.4-93.3-93.4zM319.8 127.8c17.8 0 32-14.2 32-32S337.8 64 320 64s-32.2 14-32.2 31.8c0 17.7 14.3 32 32 32zM386.7 289.3c17.3 0 33.7 6.8 46.1 19.2 12.4 12.4 19.2 28.8 19.2 46.1s-6.8 33.7-19.2 46.1C420.4 413.2 404 420 386.7 420s-33.7-6.8-46.1-19.2c-12.4-12.4-19.2-28.8-19.2-46.1s6.8-33.7 19.2-46.1c12.3-12.4 28.7-19.3 46.1-19.3m0-28c-51.3 0-93.3 42-93.3 93.3s42 93.3 93.3 93.3 93.3-42 93.3-93.3-42-93.3-93.3-93.3zM368 192h-48l-29.5-60.1c-5.6-9.3-15.9-15.9-27.1-15.9-8.4 0-16.8 3.7-22.4 9.3l-71.7 69.1c-5.6 5.6-9.3 14-9.3 22.4 0 17.4 12.6 23.6 18.5 27.1C224 270.1 240 273 240 286.1V352c0 8.8 7.2 16 16 16s16-7.2 16-16v-90c0-13.2-30.4-24-48.3-38l48.9-51.5c18.7 28.5 27.3 51.5 38 51.5H368c8.8 0 16-7.2 16-16s-7.2-16-16-16z ";
}

.walkButton {
    -fx-shape: "M0,0a10.1,10.1,0,1,1,-10.1,10.1a10.1,10.1,0,0,1,10.1,-10.1zm28.9,38.9l-9.1,-3.5l-6.5,-8a12,12,0,0,0,-9.3,-4.4h-8.4a12.27,12.27,0,0,0,-8.8,3.8l-6.8,7.4a4.27,4.27,0,0,0,-1.1,2.1l-2.5,12.1a4.45,4.45,0,0,0,3.5,5.3a2.77,2.77,0,0,0,0.9,0.1a4.58,4.58,0,0,0,4.4,-3.6l2.3,-10.8l3,-3.2v19.1l-2.2,14.3l-9.8,17.6a5.24,5.24,0,0,0,2,7.1a4.75,4.75,0,0,0,2.5,0.7a5.42,5.42,0,0,0,4.6,-2.7l10.3,-18.4a4.78,4.78,0,0,0,0.6,-1.8l2,-12.8l8.6,14.6l3.3,16.8a5.22,5.22,0,0,0,5.1,4.2a3.4,3.4,0,0,0,1,-0.1a5.21,5.21,0,0,0,4.1,-6.1l-3.6,-17.6a4.42,4.42,0,0,0,-0.6,-1.6l-8.9,-15.2v-17.3l4,5a4.5,4.5,0,0,0,1.9,1.4l10.2,3.9a4.51,4.51,0,0,0,5.8,-2.6a4.35,4.35,0,0,0,-2.5,-5.8z";
    /* -fx-shape: "M23,45.6l2.2-4c3.4-6.2,8.5-11.3,14.7-14.7c3.5-1.9,5.1-2.4,6.7-2.4L54,25c2.2,0.1,3.8,1.1,10.2,9.3   c1.9,2.4,4.1,4.5,6.7,6.2l4.6,3c2.1,1.4,2.7,4.1,1.3,6.2c-1.4,2.1-4.1,2.7-6.2,1.3L66,48c-3.2-2.1-6.1-4.7-8.5-7.7l-3.6,17.1l7,6.8   c2.8,2.7,4.8,6.2,5.7,10.1L70.7,91c0.7,2.9-1.1,5.8-4,6.5c-0.4,0.1-0.9,0.2-1.3,0.2c-2.4,0-4.6-1.6-5.2-4.1l-4.1-16.7   c-0.5-1.9-1.4-3.6-2.8-4.9l-7-6.8l-0.7,4.7c-0.4,2.4-1.1,4.7-2.1,6.9l-8.4,17.8c-0.9,1.9-2.9,3.1-4.9,3.1c-0.8,0-1.5-0.2-2.3-0.5   c-2.7-1.3-3.8-4.5-2.6-7.2l8.4-17.8c0.6-1.2,1-2.6,1.2-3.9l2.4-16L39,38.5c-2.3,2.1-4.3,4.5-5.9,7.3l-2.2,4   c-0.8,1.5-2.4,2.3-3.9,2.3c-0.7,0-1.5-0.2-2.1-0.5C22.7,50.5,21.9,47.8,23,45.6zM41.8,11.4c0.6-5.4,5.5-9.4,10.9-8.8s9.4,5.5,8.8,10.9c-0.6,5.4-5.5,9.4-10.9,8.8S41.2,16.8,41.8,11.4z"; */
}

.timeIcon {
    -fx-shape: "M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Zm6.89-8.55A1,1,0,0,1,22,20a.93.93,0,0,1-.45-.11l-6-3A1,1,0,0,1,15,16V7a1,1,0,0,1,2,0v8.38l5.45,2.73A1,1,0,0,1,22.89,19.45Z";
}

.distanceIcon {
    -fx-shape: "M27.2,1.4L6.2,19l66.7,79.7l21-17.6L27.2,1.4z M67.8,89.5l13.9-11.1l-1.2-1.6L66.5,88l-4.2-5l8.4-7l-1.3-1.5  l-8.4,7l-5.3-6.4l14-11.2l-1.2-1.6l-14,11.2l-6-7.2l8.4-7l-1.3-1.5l-8.5,7L42,58.7l12.6-10.6l-1.3-1.5L40.7,57.1l-5-6l8.7-6.9  l-1.2-1.6l-8.7,7L30,44.3l13.3-10.6l-1.2-1.6L28.7,42.7l-5.3-6.4l7.7-6.4l-1.3-1.5l-7.7,6.4l-5.6-6.6L27,19.9l-1.2-1.6l-10.5,8.4  l-6.1-7.3l17.9-15L91.2,81L73.2,96L67.8,89.5z";
}

.directionsInfo {
    -fx-max-width: 400px;
    -fx-max-height: 700px;
}

.directionsInfoStack {
    -fx-alignment: top-right;
}

.routeInfo {
    -fx-min-height: 200px;
    -fx-spacing: 10;
}

.bold {
    -fx-font-weight: bold;
}

.routeProperty {
    -fx-spacing: 7;
}

.icon-button .icon {
    -fx-background-color: #ddd;
    -size: 22;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.icon-button:hover .icon {
    -fx-background-color: #bbb;
}

.iconHighlightOn {
    -fx-background-color: #abd2e0;
}

.iconHighlightOff {
    -fx-background-color: #e8e8e8;
}

.icon-button {
    -fx-background-color: white;
    -fx-content-display: graphic-only;
}

.cross-icon-button {
    -size: 11;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.cross-icon {
    -fx-background-color: #ddd;
    -size: 11;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.cross-icon:hover {
    -fx-background-color: #953e3e;
}

.deactivatedButton {
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.deactivatedButton .icon {
    -fx-background-color: #000;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.endPoints {
    -fx-spacing: 10;
}

.endPoint {
    -fx-spacing: 10;
}

.searchFieldIcon {

}

.search-icon {
    -fx-shape: "M15.75,15.05l-.7.7a.5.5,0,0,1-.71,0L10.69,12.1a5.46,5.46,0,1,1,1.41-1.41l3.65,3.65a.5.5,0,0,1,0,.71Zm-8.17-4A3.49,3.49,0,1,0,4.1,7.58,3.49,3.49,0,0,0,7.58,11.07Z";
}

.POIButton-remove > .icon {
    -fx-shape: "M88.332,45.154v0.039C89.336,44.46,90,43.289,90,41.954c0-2.246-1.811-4.059-4.023-4.059l-24.57-0.01l-7.604-23.424  c-0.508-1.605-2.031-2.793-3.802-2.793c-1.784,0-3.295,1.188-3.803,2.793l-7.552,23.268L14.06,20.512L10,26.316l16.517,11.569  H14.024c-2.213,0-4.023,1.822-4.023,4.056c0,1.334,0.664,2.52,1.68,3.252v-0.026l19.856,14.478c0,0-7.591,23.421-7.578,23.421  c-0.547,1.631-0.013,3.444,1.445,4.519c1.445,1.042,3.347,0.964,4.714-0.042L50,73.089l19.882,14.453  c1.367,1.006,3.268,1.084,4.713,0.025c1.459-1.058,1.979-2.871,1.459-4.502l-4.402-13.577l14.285,10.003L90,73.685l-20.807-14.57  L88.332,45.154z M50,24.34l6.558,20.208l21.279,0.01l-14.42,10.513L44.356,41.726L50,24.34z M67.191,77.343L50,64.847L32.813,77.34  c2.2-6.8,6.556-20.233,6.556-20.233l-17.22-12.555h13.887l26.552,18.589L67.191,77.343z";
}

.POIButton-add > .icon {
    -fx-shape: "M85.977,37.891h-24.57l-7.598-23.424c-0.508-1.602-2.031-2.8-3.809-2.8s-3.301,1.198-3.809,2.8l-7.598,23.424h-24.57  c-2.207,0-4.023,1.819-4.023,4.053c0,1.331,0.664,2.526,1.68,3.252v-0.02l19.863,14.47c0,0-7.598,23.421-7.578,23.421  c-0.547,1.624-0.02,3.447,1.445,4.524c1.445,1.035,3.34,0.957,4.707-0.039L50,73.099l19.883,14.453  c1.367,0.996,3.281,1.074,4.727,0.02c1.445-1.058,1.992-2.881,1.445-4.505l-7.578-23.421L88.32,45.156v0.039  C89.336,44.47,90,43.274,90,41.943C90,39.71,88.203,37.891,85.977,37.891z M60.647,57.106L67.2,77.36L50,64.856L32.813,77.351  c2.2-6.797,6.563-20.248,6.563-20.248L22.151,44.558h21.286L50,24.333l6.56,20.225h21.275L60.647,57.106z";
}

.destination-icon {
    -fx-shape: "M76.3,0a76.3,76.3,0,1,0,76.3,76.3A76.41,76.41,0,0,0,76.3,0Zm0,135.6a59.3,59.3,0,1,1,59.3-59.3A59.36,59.36,0,0,1,76.3,135.6ZM107.4,76.3A31.1,31.1,0,1,1,76.3,45.2,31.2,31.2,0,0,1,107.4,76.3Z";
}

.origin-icon {
    -fx-shape: "M76.3,0a76.3,76.3,0,1,0,76.3,76.3A76.41,76.41,0,0,0,76.3,0Zm0,135.6a59.3,59.3,0,1,1,59.3-59.3A59.36,59.36,0,0,1,76.3,135.6Z";
}

.cross-icon {
    -fx-shape: "M61.2,50.5l32.1,32.1c3,3,3,7.7,0,10.7c-3,3-7.7,3-10.7,0L50.5,61.2L18.4,93.3c-3,3-7.7,3-10.7,0  c-3-3-3-7.7,0-10.7l32.1-32.1L7.7,18.4c-3-3-3-7.7,0-10.7s7.7-3,10.7,0l32.1,32.1L82.6,7.7c3-3,7.7-3,10.7,0c3,3,3,7.7,0,10.7  L61.2,50.5z";
}

.swap-icon {
    -fx-shape: "M50.7,37.8L30.3,12.1c-1.7-2.1-4.9-2.1-6.5,0L3.4,37.8c-2.2,2.7-0.2,6.8,3.3,6.8h9.6v39.6c0,2.1,1.7,3.8,3.8,3.8h14     c2.1,0,3.8-1.7,3.8-3.8V44.6h9.6C50.9,44.6,52.8,40.5,50.7,37.8zM93.3,55.4h-9.6V15.8c0-2.1-1.7-3.8-3.8-3.8H66c-2.1,0-3.8,1.7-3.8,3.8v39.6h-9.6c-3.5,0-5.4,4-3.3,6.8l20.4,25.7     c1.7,2.1,4.9,2.1,6.5,0l20.4-25.7C98.8,59.5,96.8,55.4,93.3,55.4z";
}

Button:hover {
    -fx-cursor: hand;
}

/* Custom scrollbar */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #333;
    -fx-background-insets : 4.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #222;
    -fx-background-insets : 3.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.instruction {
    -fx-padding: 10 20;
    -fx-background-color: #fff;
    -fx-alignment: CENTER_LEFT;
    -fx-focus-traversable: true;
    -fx-wrap-text: true;
}

.radio-button:selected {
    -fx-text-fill: white;
    -fx-background-color: "#69c7ff";
}

.radio-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #bbb;
}

.radio-button {
    -fx-padding: 3 13 3 0;
    -fx-background-radius: 100;
}

.darkFilter {
    -fx-background-color: #000000aa;
    -fx-pref-width: infinity;
    -fx-pref-height: infinity;
    -fx-alignment: center;
}

.selectMap {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-pref-height: 400;
    -fx-max-width: 480;
    -fx-background-color: white;
}

.selectDefaultMapsButtons {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.findRoute:disabled {
    -fx-text-fill: #888;
    -fx-background-color: white;
    -fx-border-color: #888;
    -fx-border-radius: 5px;
}

.findRoute {
    -fx-text-fill: white;
    -fx-background-color: #888;
}

.findRoute:hover {
    -fx-background-color: "#69c7ff";
}

.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em; /* 4 8 4 8 */
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
    -fx-managed: false;
}

.tooltip {
    -fx-background: rgb(0, 0, 0);
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0.4em 0.75em 0.4em 0.75em; /* 10px */
    -fx-effect: none;
    /*
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    */
    -fx-font-size: 0.85em;
}

.instruction:hover {
    -fx-background-color: #f8f8f8;
}

.scroll-bar .increment-button {
    visibility: hidden;
}

.scroll-bar .decrement-button {
    visibility: hidden;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb,
.hide-thumb .scroll-bar:horizontal .thumb{
    -fx-background-color: transparent;
}