.root {
    -fx-faint-focus-color: transparent;
}

.body {
    -fx-faint-focus-color: transparent;
}

.content {
    -fx-fit-to-width: true;
}

.sp {
    -fx-padding: 20 0 0 0;
    -fx-fit-to-width: true;
    -fx-background-color : transparent;
}

.grid {
    -fx-background-color : transparent;
}

.gridHeader {

}

.sp > .viewport {
    -fx-background-color: transparent;
}

.output {
    -fx-control-inner-background: #ddd;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-faint-focus-color: transparent;
}

.UI {
    -fx-padding: 20;
    -fx-spacing: 10;
}

.suggestions {
    -fx-fit-to-width: true;
}

.suggestion {
    -fx-pref-width: Infinity;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-background-color: #fff;
    -fx-alignment: CENTER_LEFT;
    -fx-focus-traversable: true;
}

.suggestion:focused {
    -fx-background-color: #f8f8f8;
}

.searchBar {
    -fx-background-color: white;
    -fx-max-width: 400;
    -fx-background-radius: 5;
}

.searchFieldWrapper {
    -fx-padding: 5 10;
}

.searchField {
    -fx-pref-width: 10000;
    -fx-font-size: 10pt;
    -fx-text-fill: #555;
    -fx-border-width: 0;
    -fx-text-box-border: transparent;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-focus-color: transparent;
}

.searchField:focused {
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
}

.directions {
    -fx-max-height: 300px;
    -fx-fit-to-width: true;
}

.directionButtons {
    -fx-background-color: white;
}

.stack, .pinInfoWrapper {
    -fx-alignment: bottom-center;
}

.pinInfoWrapper {
    -fx-padding: 20;
}

.pinInfo, .directionsInfo {
    -fx-background-color: white;
    -fx-max-height: 50px;
    -fx-pref-height: 0px;
    -fx-max-width: 600px;
    -fx-padding: 5 10;
    -fx-background-radius: 5;
    -fx-spacing: 10;
}


.pointAddress, .pointCoords {
    -fx-display: inline-block;
}

.hBox {
    -fx-spacing: 10px;
}

.directionsInfo {
    -fx-max-width: 400px;
    -fx-max-height: 700px;
}

.routeInfo {
    -fx-min-height: 200px;
}

.icon-button .icon {
    -fx-background-color: #ddd;
    -size: 22;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.icon-button:hover .icon {
    -fx-background-color: #bbb;
}

.iconHighlightOn {
    -fx-background-color: #abd2e0;
}

.iconHighlightOff {
    -fx-background-color: #e8e8e8;
}

.icon-button {
    -fx-background-color: white;
    -fx-content-display: graphic-only;
}

.searchFieldIcon {

}

.search-icon {
    -fx-shape: "M15.75,15.05l-.7.7a.5.5,0,0,1-.71,0L10.69,12.1a5.46,5.46,0,1,1,1.41-1.41l3.65,3.65a.5.5,0,0,1,0,.71Zm-8.17-4A3.49,3.49,0,1,0,4.1,7.58,3.49,3.49,0,0,0,7.58,11.07Z";
}

.POIButton-remove > .icon {
    -fx-shape: "M88.332,45.154v0.039C89.336,44.46,90,43.289,90,41.954c0-2.246-1.811-4.059-4.023-4.059l-24.57-0.01l-7.604-23.424  c-0.508-1.605-2.031-2.793-3.802-2.793c-1.784,0-3.295,1.188-3.803,2.793l-7.552,23.268L14.06,20.512L10,26.316l16.517,11.569  H14.024c-2.213,0-4.023,1.822-4.023,4.056c0,1.334,0.664,2.52,1.68,3.252v-0.026l19.856,14.478c0,0-7.591,23.421-7.578,23.421  c-0.547,1.631-0.013,3.444,1.445,4.519c1.445,1.042,3.347,0.964,4.714-0.042L50,73.089l19.882,14.453  c1.367,1.006,3.268,1.084,4.713,0.025c1.459-1.058,1.979-2.871,1.459-4.502l-4.402-13.577l14.285,10.003L90,73.685l-20.807-14.57  L88.332,45.154z M50,24.34l6.558,20.208l21.279,0.01l-14.42,10.513L44.356,41.726L50,24.34z M67.191,77.343L50,64.847L32.813,77.34  c2.2-6.8,6.556-20.233,6.556-20.233l-17.22-12.555h13.887l26.552,18.589L67.191,77.343z";
}

.POIButton-add > .icon {
    -fx-shape: "M85.977,37.891h-24.57l-7.598-23.424c-0.508-1.602-2.031-2.8-3.809-2.8s-3.301,1.198-3.809,2.8l-7.598,23.424h-24.57  c-2.207,0-4.023,1.819-4.023,4.053c0,1.331,0.664,2.526,1.68,3.252v-0.02l19.863,14.47c0,0-7.598,23.421-7.578,23.421  c-0.547,1.624-0.02,3.447,1.445,4.524c1.445,1.035,3.34,0.957,4.707-0.039L50,73.099l19.883,14.453  c1.367,0.996,3.281,1.074,4.727,0.02c1.445-1.058,1.992-2.881,1.445-4.505l-7.578-23.421L88.32,45.156v0.039  C89.336,44.47,90,43.274,90,41.943C90,39.71,88.203,37.891,85.977,37.891z M60.647,57.106L67.2,77.36L50,64.856L32.813,77.351  c2.2-6.797,6.563-20.248,6.563-20.248L22.151,44.558h21.286L50,24.333l6.56,20.225h21.275L60.647,57.106z";
}

.destination-icon {
    -fx-shape: "M76.3,0a76.3,76.3,0,1,0,76.3,76.3A76.41,76.41,0,0,0,76.3,0Zm0,135.6a59.3,59.3,0,1,1,59.3-59.3A59.36,59.36,0,0,1,76.3,135.6ZM107.4,76.3A31.1,31.1,0,1,1,76.3,45.2,31.2,31.2,0,0,1,107.4,76.3Z";
}

.origin-icon {
    -fx-shape: "M76.3,0a76.3,76.3,0,1,0,76.3,76.3A76.41,76.41,0,0,0,76.3,0Zm0,135.6a59.3,59.3,0,1,1,59.3-59.3A59.36,59.36,0,0,1,76.3,135.6Z";
}

Button:hover {
    -fx-cursor: hand;
}

/* Custom scrollbar */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #333;
    -fx-background-insets : 4.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #222;
    -fx-background-insets : 3.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.instruction {
    -fx-padding: 10 20;
    -fx-background-color: #fff;
    -fx-alignment: CENTER_LEFT;
    -fx-focus-traversable: true;
    -fx-wrap-text: true;
}

.radio-button:selected {
    -fx-text-fill: white;
    -fx-background-color: #88aaff;
}

.radio-button:hover {
    -fx-cursor: hand;
}

.radio-button {
    -fx-padding: 3;
    -fx-background-radius: 100;
}

.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em; /* 4 8 4 8 */
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
    -fx-managed: false;
}

.tooltip {
    -fx-background: rgb(0, 0, 0);
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0.4em 0.75em 0.4em 0.75em; /* 10px */
    -fx-effect: none;
    /*
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    */
    -fx-font-size: 0.85em;
}

.instruction:hover {
    -fx-background-color: #f8f8f8;
}

.scroll-bar .increment-button {
    visibility: hidden;
}

.scroll-bar .decrement-button {
    visibility: hidden;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb,
.hide-thumb .scroll-bar:horizontal .thumb{
    -fx-background-color: transparent;
}